---
import { getEpisode } from "../../api/rss";
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import Episode from "../../components/Episode.astro";
import Lindsay from "@/components/Lindsay.astro";
import ConvertKit from "@/components/ConvertKit.astro";

const { slug } = Astro.params as { slug: string };

if (slug === "all") return Astro.redirect("/episode/all/1");

const episode = await getEpisode(slug);

if (!episode) return Astro.redirect("/404");
---

<DefaultLayout
  title={episode.title}
  description={episode.description}
  permalink={`https://humansideof.dev/episode/${slug}`}
>
  <Episode episode={episode} showSummary={true} audioPosition="top" />
  <ConvertKit />
  <div>
    <hr class="w-11/12 m-auto" />
    <Lindsay />
  </div>
</DefaultLayout>
