---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import BlogPost from "../../components/BlogPost.astro";
import Lindsay from "@/components/Lindsay.astro";
import { getEntry } from "astro:content";
import ConvertKit from "@/components/ConvertKit.astro";
import dayjs from "dayjs";

const { slug } = Astro.params as { slug: string };

const post = await getEntry("blog", slug);
const isPreview = Astro.url.searchParams.has("preview") || import.meta.env.DEV;

if (
  !post ||
  (!post.data.published && !isPreview) ||
  (post.data.published &&
    !isPreview &&
    dayjs(post.data.pubDate).isAfter(dayjs()))
)
  throw new Error(`Post not found: ${slug}`);

const title: string = post.data.title;
const author: string = post.data.author;
const description: string = post.data.description;
const canonical_url: string =
  post.data.canonical_url || "https://humansideof.dev/blog/" + slug;
---

<DefaultLayout
  title={`${title} by ${author}`}
  permalink={canonical_url}
  description={description}
>
  <BlogPost post={post} />
  <ConvertKit />
  <div class="pt-4">
    <hr class="w-11/12 m-auto" />
    <Lindsay />
  </div>
</DefaultLayout>
