---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
---

<li class="w-11/12 md:w-3/4 m-auto">
  <a href={`/blog/${post.slug}`} class="flex">
    <img
      src={post.data.cover_image}
      alt={post.data.title}
      class="w-36 h-36 md:w-52 md:h-52 aspect-square object-cover rounded-lg"
      transition:name={`${post.slug}-image`}
    />
    <div class="ml-4 flex flex-col md:gap-3">
      <h3 class="font-josefin text-lg" transition:name={`${post.slug}-title`}>
        {post.data.title}
      </h3>
      <p
        class="font-josefin text-stone-400"
        transition:name={`${post.slug}-content`}
      >
        {post.data.description}
      </p>
    </div>
  </a>
</li>
