---
import DefaultLayout from "@/layouts/DefaultLayout.astro";
import Episode from "@/components/Episode.astro";
import { getEpisodes } from "@/content/episode";

const page = +(Astro.params.page || 0);

if (page <= 0) return Astro.redirect("/episode/all/1");

const entries = await getEpisodes();

const pageSize = 10;

const pageEntries = entries.slice((page - 1) * pageSize, page * pageSize);
const nextPageEntries = entries.slice(page * pageSize, (page + 1) * pageSize);

if (!pageEntries.length) return Astro.redirect("/404");

const totalPages = Math.ceil(entries.length / pageSize);
const hasFirst = page !== 1;
const hasPrevious = page > 1;
const hasNext = nextPageEntries.length > 0;
const hasLast = page !== totalPages;
---

<DefaultLayout>
  <h2 class="font-josefin text-xl text-center text-stone-400">
    Page {page} of {totalPages}
  </h2>
  {
    pageEntries?.map((episode: any) => (
      <Episode episode={episode} showSummary={false} />
    ))
  }
  <div class="flex justify-around w-[300px] m-auto">
    <a
      href="/episode/all/1"
      class="font-josefin text-stone-400 hover:text-stone-300 hover:underline"
    >
      Latest
    </a>
    <a
      href={`/episode/all/${page - 1 || 1}`}
      class="font-josefin text-stone-400 hover:text-stone-300 hover:underline"
    >
      Previous
    </a>
    <a
      href={`/episode/all/${page + 1 > totalPages ? totalPages : page + 1}`}
      class="font-josefin text-stone-400 hover:text-stone-300 hover:underline"
    >
      Next
    </a>
    <a
      href={`/episode/all/${totalPages}`}
      class="font-josefin text-stone-400 hover:text-stone-300 hover:underline"
    >
      Oldest
    </a>
  </div>
</DefaultLayout>
